.cardMissions{
    border-radius: .75em;
    background-color: var(--blue1);
    color: #ffffff;
    padding: 3em .5em 2em 2em;
    height: 28em;
    max-height: 28em;
    overflow: hidden;
}

.background2{
    background: var(--blue6);
}

.background2 .icone{
    background: var(--blue6);
}

.cardMissions .icone{
    background: linear-gradient(var(--blue4),var(--blue2));
    width: 3em;
    height: 3em;
    position: relative;
    border-radius: 10em;
    margin-bottom: 2em;
}

.cardMissions .icone img{
    width: 5em;
    top: 25%;
    left: 25%;
    position: absolute;
}

.cardMissions h3{
    font-size: 1.45em;
    padding-bottom: 1.5em;
    font-family: "Poppins-bold";
}

.cardMissions .text{
    font-size: .95em;
    font-family: "Poppins-medium";
    margin-bottom: 3em;
    height: 7.5em;
    max-height: 8em;
    padding: 0 0 0 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardMissions button{
    margin-left: 1em;
    margin-bottom: 1em;
    border: 0;
    outline: 0;
    padding: 1em 1em 1em 1.5em;
    width: 40%;
    color: black;
    font-family: "Poppins-bold";
    background-color: white;
    border-radius: 1.25em;
    display: flex;
    justify-content: space-between;
}

.cardMissions button img{
    width: 1.25em;
    
}

@media screen and (max-width: 430px) {
    
    .cardMissions{
        border-radius: .75em;
        background-color: var(--blue1);
        color: #ffffff;
        padding: .5em .5em 1em 1em;
        height: 23em;
        max-height: 23em;
        overflow: hidden;
    }

    .cardMissions .icone{
        margin-bottom: 0;
    }

    .cardMissions h3{
        font-size: 1.45em;
        padding-bottom: .5em;
        font-family: "Poppins-bold";
    }

    .cardMissions .text{
        font-size: .95em;
        margin-bottom: 1em;
    }

    .cardMissions button{
        margin-left: 1em;
        margin-bottom: 1em;
        border: 0;
        outline: 0;
        padding: 1em 1em 1em 1.5em;
        width: 40%;
        color: black;
        font-family: "Poppins-bold";
        background-color: white;
        border-radius: 1.25em;
        display: flex;
        justify-content: space-between;
    }

    .cardMissions button img{
        width: 1.25em;
    }
}

@media screen and (max-width: 810px) {
    
    .cardMissions{
        border-radius: .75em;
        background-color: var(--blue1);
        color: #ffffff;
        padding: .5em .5em 1em 1em;
        height: 23em;
        max-height: 23em;
        overflow: hidden;
    }

    .cardMissions h3{
        font-size: 1.45em;
        padding-bottom: .5em;
        font-family: "Poppins-bold";
    }

    .cardMissions .text{
        font-size: .95em;
        margin-bottom: 1em;
    }

    .cardMissions button{
        margin-left: 1em;
        margin-bottom: 1em;
        border: 0;
        outline: 0;
        padding: 1em 1em 1em 1em;
        width: 70%;
        color: black;
        font-family: "Poppins-bold";
        background-color: white;
        border-radius: 1.25em;
        display: flex;
        justify-content: space-between;
    }

}