.cardChiffreCle{
    height: 22em;
    border-radius: .5em;
    color: #ffffff;
    padding: 1em 2em;
    position: relative;
    margin-bottom: 1em;
}

.style1{
    background: linear-gradient(to bottom right,var(--blue2),var(--blue3));
}

.style2{
    background: linear-gradient(to bottom right,rgb(24, 24, 24), rgb(24, 24, 24));
}

.style2 .chiffre{
    background: linear-gradient(to right,var(--blue2),var(--blue4));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardChiffreCle img{
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cardChiffreCle .chiffre{
    font-size: 5em;
    font-weight: 900;
    font-family: "Poppins-bold";
}

.cardChiffreCle .value{
    font-size: 2em;
    font-weight: 800;
    width: 90%;
}

@media screen and (max-width: 430px) {
    
    .cardChiffreCle{
        height: 15em;
        border-radius: .5em;
        color: #ffffff;
        padding: 1em 2em;
        position: relative;
    }

    .cardChiffreCle .chiffre{
        font-size: 2em;
        font-weight: 900;
        font-family: "Poppins-bold";
    }

    .cardChiffreCle .value{
        font-size: 1.25em;
        font-weight: 800;
        width: 90%;
    }


}


@media screen and (max-width: 810px) {
    
    .cardChiffreCle{
        height: 14em;
        border-radius: .5em;
        color: #ffffff;
        padding: 1em 2em;
        position: relative;
    }

    .cardChiffreCle .chiffre{
        font-size: 3em;
        font-weight: 900;
        font-family: "Poppins-bold";
    }

    .cardChiffreCle .value{
        font-size: 1.25em;
        font-weight: 800;
        width: 90%;
    }

}