footer .discuter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 28%;
    background-color: #ffffffff;
}

footer .discuter a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue6);
    padding: .95em;
    border-radius: 2.5em;
    transition: 5s ease-in;
    position: relative;
}

footer .discuter a:hover{
    left: .5em;
}

footer .discuter img{
    width: 2em;
}

footer .discuter span{
    border-bottom: 4px solid var(--blue6);
    font-size: 1.75em;
    padding-bottom: .1em;
    font-family: "Poppins-regular";
    font-weight: bold;

}

footer .footer{
    color: #ffffffff;
    background-color: var(--blue1);
    display: flex;
    align-items: center;justify-content: center;
    flex-direction: column;
}

footer .footer .medias{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 1.5em 0;
}

footer .footer .medias a{
    transition: .5s;
}

footer .footer .medias a img{
    width: 1.25em;
}

footer .footer .medias a:hover{
    transform: scale(1.2) ;
}


footer .footer .sections{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

footer .footer .sections h2{
    width: 17%;
    font-size: 1.5em;
    font-weight: 900;
    color: var(--blue6);
    font-family: "Poppins-medium";
}

footer .footer .sections h4{
    font-family: "Poppins-medium";
    list-style: none;
    margin-bottom: 1em;
}

footer .footer .sections ul *{
    list-style: none;
    font-weight: 300;
    font-size: 1.05em;
}

footer .footer .sections ul a{
    color: #ffffffff;
}

.copyright{
    font-weight: 300;
    font-size: 1.05em;
    margin: 1em 0;
}