.missionDescription{
    width: 30%;
    margin-right: 1em;
}

.missionDescription h4{
    display: flex;
    align-items: center;
    font-weight: 900;
}

.missionDescription h4 img{
    margin-right: 0.5em;
}

.missionDescription p{
    font-weight: 300;
}

@media screen and (max-width: 430px) {
    
    .missionDescription{
        width: 45%;
        margin: .5em
    }

    .missionDescription h4{
        display: flex;
        align-items: center;
        font-weight: 900;
        margin-bottom: 1em;
    }

    .missionDescription h4 img{
        margin-right: 0.5em;
    }

    .missionDescription p{
        font-weight: 300;
        text-align: center;
    }

}