.serviceCompetent{
    width: 45%;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 2em;
    padding-bottom: 2em;
    height: 38em;
    transition: .50s;
    
}

.serviceCompetent:hover{
    position: relative;
    bottom: 0.5em;
    transition: 1s;
}

.serviceCompetent .domaine-image{
    width: 100%;
    height: 45%;
}

.serviceCompetent h4{
    font-family: "Poppins-bold";
    font-size: 20px;
    text-align: center;
    width: 84%;
}

.serviceCompetent span{
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.serviceCompetent button{
    width: 30%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em 1em;
    border-radius: 2em;
    border: 0;
    outline: 0;
    font-family: "Poppins-bold";
    font-size: 14px;
    background: linear-gradient(to right, var(--purple1), var(--purple3));
    transition: .2s ease-out;
}

@media screen and (max-width: 810px) {
    
    .serviceCompetent button{
        width: 50%;
    }
}

.serviceCompetent button:hover{
    width: 32%;
}

.serviceCompetent button img{
    width: 15%;
}


@media screen and (max-width: 430px) {
    
    .serviceCompetent{
        width: 95%;
    }

    .serviceCompetent .domaine-image{
        width: 100%;
        height: 45%;
    }

    .serviceCompetent h4{
        font-family: "Poppins-bold";
        font-size: 18px;
    }

    .serviceCompetent span{
        width: 75%;
        max-height: 80%;
        overflow-y: auto;
    }

    .serviceCompetent button{
        width: 35%;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5em .5em;
        border-radius: 1em;
        border: 0;
        outline: 0;
        font-family: "Poppins-bold";
        font-size: 12px;
        background: linear-gradient(to right, var(--purple1), var(--purple3));
        transition: .2s ease-out;
    }

}
