:root{
  --purple1: rgba(150,67,255,100);
  --purple2: rgba(184,136,245,100);
  --purple3: rgba(221,0,255,100);
  --blue1: #0A0F41;
  --blue2: #1A26A7;
  --blue3: #368BAD;
  --blue4: #00C8FF;
  --blue5: #1C1F3E;

  --grey: #D9D9D9;
}


@font-face {
  font-family: "poppins-light";
  src: url("./assets/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "poppins-thin";
  src: url("./assets/Poppins-Thin.ttf");
}

@font-face {
  font-family: "poppins-regular";
  src: url("./assets/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-medium";
  src: url("./assets/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins-bold";
  src: url("./assets/Poppins-SemiBold.ttf");
}